html{
  padding: 0;
  margin: 0;
 }
  body{
       font-family: 'Roboto', sans-serif;
      background-color: #f7f4f1;
     } 

     header {
        top: 90px;
        left: 10px;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #d2691e;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
      }

      .hero1-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90vh;
        margin-top: 40px;
      }
      .hero1-img-container {
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        padding-top: 20px;
      }
      .hero1-img-container > img {
        width: 500px;
      }
      .hero1-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      .hero1-text-container > h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 20px;
        color: hsl(233, 26%, 24%);
        line-height: 1.1;
      }
      .hero1-text-container > p {
        color: hsl(240, 43%, 99%);
        margin-bottom: 15px;
        font-weight: 700;
      }
      .hero1-text-container > button {
        padding: 12px 28px;
        border: none;
        outline-width: 0;
        color: white;
        border-radius: 24px;
        cursor: pointer;
        font-weight: 400;
        background-image: linear-gradient(
          120deg,
          hsl(0, 85%, 55%),
          hsl(88, 82%, 29%)
        );
      }
      
     
     
     /* splash screen css starts here */
     #loading{ 
         position: fixed; 
         width: 100%; 
         height: 100vh;
         background: #e4eff2 url("https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif") no-repeat center center; 
         z-index: 99999;
     }
     /* splash screen css ends here */ 
     /* navbar css starts here */
     .bg-light{ 
         background-color: #bb744d!important;
     } 

     .navbar{
        background-image: linear-gradient(
          120deg,
          hsl(0, 66%, 77%),
          hsl(315, 75%, 35%)
        );
       
      }

     .navbar-brand{ 
         font-family: 'Sansita Swashed', cursive;
         font-size: 2.5rem;
          color: rgb(0, 30, 128)!important;
         }
          .nav-link{ 
              color: rgb(0, 30, 128)!important;
               font-family: 'Noto Sans JP', sans-serif;
             } 
             .nav-link:hover{ background-color: #f3f1f1;
             }
             /* navbar css ends here */ 
             /*here content css starts here */
             .hero-content{ 
                 height: 100vh; 
                 background-color: #3a7035; 
                 color: #ffffff; 
                 padding: 3rem; 
                 border-bottom-left-radius: 45rem; 
                 border-bottom-right-radius: 45rem; 
                 margin-bottom: 1vh;
             
             } 
                 .hero-img{
                      height: 70vh; 
                      width: 100%;
                      padding: 1rem ;
                     } 
                     
                     @media only screen and (max-width: 766px) { 
                         .hero-img {
                              display: none;
                              }
                             } 

                             .btn{
                                border-radius: 0.5rem; 
                                padding: 1rem 2rem; 
                                font-size: 110%; 
                                
                                color: #ffff!important; 
                                transition: 0.3s;
                               } 
                             
                 .get-started{
                      border-radius: 0.5rem; 
                      padding: 1rem 2rem; 
                      font-size: 162%; 
                      background-color: rgb(255, 255, 255); 
                      color: #039be5!important; 
                      transition: 0.3s;
                     } 
                 .get-started:hover{
                          text-decoration: none; 
                          background-color: #f0dcbf;
                          }
                          /*content css starts here */
                           /*get-started-buttons css starts here*/
                 .get-started-content{ 
                               height: 60vh; 
                               background-color: #ff8a65; 
                               border-top-left-radius: 42rem; 
                               border-top-right-radius: 42rem; 
                               border-bottom-right-radius: 42rem; 
                               border-bottom-left-radius: 42rem;
                             } 
                             
                 .get-started-content .row{
                                  padding: 25vh 0;
                                 } 
                 .get-started-content a{ 
                                     border-radius: 0.5rem;
                                      padding: 1rem 2rem; 
                                      font-size: 162%;
                                     background-color: #eeecea;
                                     color: rgb(199, 94, 94)!important; 
                                      transition: 0.3s;} 
                 .get-started-content a:hover{ 
                     background-color: #665818;
                      text-decoration: none;
                     
                     }
                     /* get-started-buttons css end here*/ 
                     /* footer css starts here */
                     footer{
                         background-color: #657256;
                     }
                      .social-icons li{
                           list-style: none;
                           display: inline; 
                           padding: 0.5rem;
                         } 
                         .github{ 
                             color: #24292e;
                         } 
                         .linkedin{
                              color: #0077b5;
                             }
                              .google{ 
                                  color: #D44638;
                                 }

                                 .comp-global .map-wrap>img {
                                    width: 100%;
                                }

                                section {
                                    position: relative;
                                    width: 100%;
                                    min-height: 100vh;
                                    padding: 100px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                  }
                                  
                                .cust {
                                    display: flex;
                                    
                                    top: 750px;
                                    right: 200px;
                                    justify-content: space-between;
                                    padding: 2px;
                                  }
                                  .img_view img {
                                    width: 400px;
                                    height: 400px;
                                  }
                                  
                                  .img_tran img {
                                    width: 400px;
                                    height: 400px;
                                  }
                                  .img_his img {
                                    width: 400px;
                                    height: 300x;
                                  }
                                  .img_view p {
                                    font-size: 1.5em;
                                    text-align: center;
                                    font-weight: bolder;
                                  }
                                  .img_tran p {
                                    font-size: 1.5em;
                                    text-align: center;
                                    font-weight: bolder;
                                  }
                                  .img_his p {
                                    font-size: 1.5em;
                                    text-align: center;
                                    font-weight: bolder;
                                  }
                                  
                                  .img_view :hover {
                                    cursor: pointer;
                                    width: 500px;
                                    height: 500px;
                                  }
                                  
                                  .img_tran :hover {
                                    cursor: pointer;
                                    width: 500px;
                                    height: 500px;
                                  }
                                  
                                  .img_his :hover {
                                    cursor: pointer;
                                    width: 500px;
                                    height: 500px;
                                  }
